$cell-item-height: 60px;

.job-event-table {
  .appointment-row {
    min-height: $cell-item-height;
    position: relative;

    .appointment-subject-cell {
      background-color: #fafafa;
      border-color: rgba(0, 0, 0, 0.12);
      border-style: solid;
      border-width: 0 1px 1px 0;
      font-size: 0.8125rem;
      height: $cell-item-height;
      padding: 8px;
      padding-left: 15px;
      padding-right: 0;
      vertical-align: middle;
    }
    .appointment-cell {
      background: #3f51b5;
      border: 1px solid #e8eaf6;
      border-radius: 2px;
      font-size: 0.8125rem;
      font-weight: normal;
      white-space: nowrap;
      color: #fff;
      height: $cell-item-height;
      overflow: hidden;
      position: absolute;
      padding: 4px;
    }
    .appointment-cell.sub-cell {
      background: #EF9B1A;
    }
    .appointment-cell.process-cell {
      background: #119B1A;
    }

    .appointment-subject {
      font-weight: 500;
      line-height: 1.2;
    }

    .appointment-time {
      font-size: 0.6875rem;
      padding: 1px 4px 2px 0;
    }
  }
}